.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 220px;
    background-color: #1e1e2f;
    height: 100vh;
    padding: 20px;
    color: white;
  }
  
  .sidebar-header {
    margin-bottom: 30px;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .sidebar-nav {
    list-style: none;
    padding: 0;
  }
  
  .sidebar-nav li {
    margin-bottom: 15px;
  }
  
  .sidebar-nav a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .sidebar-nav .icon {
    margin-right: 10px;
    font-size: 1.2rem;
  }
  
  .sidebar-nav .active a {
    background-color: #feb47b;
    padding: 10px;
    border-radius: 8px;
  }
  .sidebar-nav a:hover {
    background-color: #feb47b;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }  
  .sidebar-footer {
    margin-top: auto;
    text-align: center;
    font-size: 0.9rem;
    color: #ccc;
  }
  
  .sidebar-footer a {
    color: #feb47b;
    text-decoration: none;
  }
  
  .sidebar-footer a:hover {
    text-decoration: underline;
  }


  